.hold-transition {
    background-image: url('/dist/img/WMS.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }