
<div class="login-container">

  <div class="hold-transition login-page">
    <div class="login-box">
    
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="../../index2.html" class="h1"><b>WMS</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Connectez-vous pour commencer votre session</p>
  
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            
            <div class="input-group mb-3">
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="Entrez l'email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
          </div>
          <!--
          @if(loginForm.get('email')?.hasError('required')){
            <p class="text-danger"> email obligatoir</p>
            
          }
        -->
          
          <div class="input-group mb-3">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Entrez le mot de passe">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
        <!--
          @if(loginForm.get('password')?.hasError('required')){
            <p class="text-danger"> MDP obligatoir</p>
            
          }
        -->
          
          <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Se connecter</button>
        </form>
  
        
        
  
      
        <p class="mb-0">
          <a [routerLink]="['/register']" class="text-center">Créer un nouveau compte</a>
        </p>
      </div>
      
    </div>
    
    </div>
  </div>

</div>

