<div class="login-container">

  <div class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b>WMS</b></a>
          </div>
          <div class="card-body">
            <p class="login-box-msg">Inscrivez-vous pour un nouveau compte</p>
      
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
              
              <div class="input-group mb-3">
                <input type="email" id="email" formControlName="email" placeholder="Entrez l'email" class="form-control">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" id="password" formControlName="password" placeholder="Entrez le mot de passe" class="form-control">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Retapez le mot de passe">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                
                <!-- /.col -->
                
                  <button type="submit" class="btn btn-primary btn-block" [disabled]="signUpForm.invalid">S'inscrire</button>
                
                <!-- /.col -->
              </div>
            </form>
      
            
      
            <a [routerLink]="['/login']" class="text-center">J'ai déjà un compte</a>
          </div>
          <!-- /.form-box -->
        </div><!-- /.card -->
      </div>
  </div>

</div>
