<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5>
            Mes factures
          </h5>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a >Home</a></li>
            <li class="breadcrumb-item active">Mes factures</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
</section>
  
  <!-- Main content -->
<section class="content">
   <div class="container-fluid">
      
      
      <div class="card card-primary card-outline">
        
        <div class="tab-content" >
            <div class="tab-pane fade show active" id="custom-content-below-entree" role="tabpanel" aria-labelledby="custom-content-below-entree-tab">
              <div class="card">
                <div class="card-header">
            
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Date</th>
                                  <th>Montant Total</th>
                                  <th>Mode de Paiement</th>
                                  <th>Statut de Paiement</th>
                                  </tr>
                            </thead>
                            <tbody>
                              
                              
                              @for (facture of factures; track facture.id){
  
                                  <tr (click)="selectFacture(facture)" data-toggle="modal" data-target="#modal-xl">
                                      <td>{{ facture.id }}</td>
                                      <td>{{ facture.date  }}</td>
                                      <td>{{ facture.montantTotal  }}</td>
                                      <td>{{ facture.paiementMode }}</td>
                                      <td>{{ facture.paiementStatus }}</td>
                                      
                                    </tr>
                                }
                                
                              
                            </tbody>
                        </table>
                    </div>
                      
  
                      <!-- /.card-body -->
                    </div>

                  

        
                  <!-- /.card -->
                </div>
            </div>
              <!-- /.row -->
                </div>
                <!-- /.card-body -->
                
              </div>
            </div>
            
            
          </div>
          
        </div>
      
      <!-- /.card -->
    </div>
    <!-- /.container-fluid -->
     
      <div class="modal fade" id="modal-xl" *ngIf="selectedFacture" >
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Facture</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!--bodyyyy-->
              <div class="row">
                <div class="col-12">
                  
        
        
                  <!-- Main content -->
                  <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                      <div class="col-12">
                        <h4>
                          <i class="fas fa-globe"></i> AdminLTE, Inc.
                          <small class="float-right">Date: {{ selectedFacture.date }}</small>
                        </h4>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                      <div class="col-sm-4 invoice-col">
                        De
                        <address>
                          <strong>--</strong><br>
                          --<br>
                          Téléphone: **<br>
                          Email: **
                        </address>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4 invoice-col">
                        À
                        <address>
                          **
                          Téléphone: **<br>
                          Email: **
                        </address>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4 invoice-col">
                        <b>Facture #{{ selectedFacture.id }}</b><br>
                        <br>
                        <b>Mode de paiement:</b> **<br>
                        <b>Statut du paiement:</b> {{ selectedFacture.paiementStatus}}
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
        
                    <!-- Table row -->
                    <div class="row">
                      <div class="col-12 table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Description</th>
                              <th>Produit</th>
                              <th>Quantité</th>
                              <th>Total HT</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- Boucle sur les bons de livraison -->
                            @for(bon of selectedFacture.bons; track bon.id){
                                <!-- Boucle sur les transactions de chaque bon -->
                              <tr>
                                @for(transaction of bon.transactions; track transaction.id)
                                {
                                  <tr >
                                    <td>{{ transaction.details }}</td>
                                    <td>{{ transaction.produits.refArt }}</td>
                                    <td>{{ transaction.quantity }}</td>
                                    <td>{{ transaction.montant }}</td>
                                  </tr>
                                }
                              </tr>
                            }
                            
                          </tbody>
                        </table>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
        
                    <div class="row">
                      <!-- accepted payments column -->
                      
                      <!-- /.col -->
                      <div class="col-6">
                        <p class="lead">Montant dû **</p>
        
                        <div class="table-responsive">
                          <table class="table">
                            <tr>
                              <th style="width:50%">Sous-total:</th>
                              <td>--</td>
                            </tr>
                            <tr>
                              <th>Taxe (20%)</th>
                              <td>--</td>
                            </tr>
                            <tr>
                              <th>Total:</th>
                              <td>--</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
        
                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                      <div class="col-12">
                        <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                        
                        <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                          <i class="fas fa-download"></i> Générer PDF
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- /.invoice -->
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div>
            
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

</section>
