<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5>Produits</h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Produits</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <a class="btn btn-info btn-sm " style="margin-bottom:10px; " [routerLink]="['/admin/add-product']" >
      <i class="fas fa-pencil-alt">
      </i>
      Ajouter un article
  </a>
    <!-- /.row -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">            </h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr class="text-primary">
                  
                  <th>ID</th>
                  <th>Réf. Art</th>
                  <th>Désignation</th>
                  <th>Collection</th>
                  <th>Famille</th>
                  <th>Fournisseur</th>
                  <th>Réf Fourn.</th>
                  <th>Qte</th>
                  <th>Unite</th>
                  <th>TVA</th>
                  <th>Prix d'achat</th>
                  <th>Prix de Vente</th>
                  <th>Prix TTC</th>
                </tr>
              </thead>
              <tbody>
                <tr></tr>
                @for (produit of produits; track produit.id){
                
                <tr>
                  
                  <td class="text-primary">{{ produit.id }}</td>
                  <td>{{ produit.refArt }}</td>
                  <td>{{ produit.designation }}</td>
                  <td>{{ produit.collection }}</td>
                  <td>{{ produit.famille }}</td>
                  <td>{{ produit.fournisseur }}</td>
                  <td>{{ produit.refFourn }}</td>
                  <td>{{ produit.qte }}</td>
                  <td>{{ produit.unite }}</td>
                  <td>{{ produit.tva }}</td>
                  <td>{{ produit.prixAchat }}</td>
                  <td>{{ produit.prixVente }}</td>
                  <td>{{ produit.prixTtc }}</td>
                  
                  <td class="project-actions text-right">
                
                    <a [routerLink]="['/admin/editProduct', produit.id]" class="btn btn-sm btn-warning mr-1"><i class="fas fa-edit"></i> Edit</a>
                    <a (click)="deleteProduit(produit.id)" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                    <!--
                    <td class="project-actions text-right" style="white-space: nowrap;">
                            <a  class="btn btn-sm btn-primary mr-1"><i class="fas fa-eye"></i> View</a>
                            <a href="#" class="btn btn-sm btn-warning mr-1"><i class="fas fa-edit"></i> Edit</a>
                            <a (click)="deleteUser(user.id)" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                          </td>
                    -->
                  </td>
                <!-- <td>
                    <button
                      [routerLink]="['/admin/editProduct', produit.id]"
                      cButton
                      class="me-1"
                      color="success"
                      type="submit"
                      value="Edit"
                    >
                      Modifier
                    </button>
                    <button
                    (click)="deleteProduit(produit.id)"
                      cButton
                      class="me-1"
                      color="danger"
                      type="submit"
                      value="Delete"
                    >
                      Supprimer
                    </button>
                  </td>
                  --> 
                </tr>
              }
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
    
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->



