<!--
<h2 mat-dialog-title>Scannez le QR Code</h2>
      <mat-dialog-content>
        <img [src]="data.imgSrc" alt="QR Code">
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button [mat-dialog-close]>Fermer</button>
      </mat-dialog-actions>
    -->
    <h2 mat-dialog-title class="text-muted" class="text-primary">QR Code pour Bon ID: {{data.bonId}}</h2>
    <mat-dialog-content>
      @if(data.qrCodeUrl){
      <div style="margin-left: 20px;">
        <img [src]="data.qrCodeUrl" alt="QR Code">
        <h3  style="margin-left: 20px; color: black;">Scan me!</h3>
      </div>
      @if(!data.qrCodeUrl){
        <p >Chargement du QR code...</p>
      }
    }
    </mat-dialog-content>
    