<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3>Mes livraisons</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Livraisons</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      
      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">            </h3>
  
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    
                    <th>Livraison</th>
                    <th>Vers</th>
                    <th>Créee à</th>
                    <th>status</th>
                    <th>Total</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                  @for (bon of bons; track bon.id){
                  
                  <tr (click)="selectBon(bon)" data-toggle="modal" data-target="#modal-xl">
                    
                    <td>{{ bon.id }}</td>
                    <td>{{ bon.receiver.email }}</td>
                    <td>{{ bon.date}}</td>
                    
                    @if(bon.status){
                        <td>
                            <span class="badge badge-success" >valide</span>
                        
                        </td>
                      }@else{
                        <td>
                            <span class="badge badge-danger" >non valide</span>
                        </td>
                      }
                    <td>***</td>
                    

                  
                  </tr>
                }@empty {
                    <tr>
                      <td colspan="4">Aucun bon trouvé</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->

            <div class="modal fade" id="modal-xl" *ngIf="selectedBon">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Détails du Bon</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      
                      <!--*********************************-->
                      <ul>
                        <li>ID: {{ selectedBon.id }}</li>
                        <li>Destinataire: {{ selectedBon.receiver?.email }}</li>
                        @if(selectedBon.status){
                          <li class="badge badge-success">Statut: {{ selectedBon.status }}</li>
                        }@else{
                          <li class="badge badge-danger">Statut: {{ selectedBon.status }}</li>
                        }
                        
                      </ul>
            
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title"></h3>
            
                          <div class="card-tools">
                            
                          </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>Produit</th>
                                    <th>Quantité</th>
                                    <th>Montant</th>
                                    <th>Détails</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr></tr>
                                  @for (transaction of selectedBon.transactions; track transaction.id){
                                    <tr>
                                        <td>{{ transaction.id }}</td>
                                        <td>{{ transaction.produits.refArt }}</td>
                                        <td>{{ transaction.quantity }}</td>
                                        <td>{{ transaction.montant | fixedDecimal }}</td>
                                        <td>{{ transaction.details }}</td>
                                       
                                    </tr>
                                  
                                  }@empty {
                                    <tr>
                                      <td colspan="4">Aucune transaction trouvée</td>
                                    </tr>
                                  }
                                </tbody>
                              </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
            
            
            
                      <!--*******************************-->
                    </div>
                    
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>

          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  
  